#personal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    form {
        & > div {
            margin-bottom: 24px;
        }
        .label-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            .error {
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 0;
                color: #EE374A;
            }
        }
        .form-label {
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            margin-bottom: 0;
        }
        input:focus {
            box-shadow: none;
            border-color: #483EFF;
        }
        .error-bar {
            border-color: #EE374A;
        }
    }
    .button-container {
        display: flex;
        justify-content: flex-end;
        button {
            background-color: #022959;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            color: #FFFFFF;
            width: fit-content;
            padding: 15px 24px;
        }
    }
}

// Tablet screen size
@media only screen and (max-width: 768px) {
    #personal {
        margin-top: 30px;
    }
}


// Mobile screen size
@media only screen and (max-width: 576px) {
    #personal {
        .button-container {
            background-color: #FFFFFF;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 16px;
        }
    }
}