@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', normal;
  color: #022959;
}

#form-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EFF5FF;

}

#form-box > .container {
  margin: auto;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 15px;
}

/* Tablet screen size */
@media only screen and (max-width: 768px) {
  #form-box {
    align-items: flex-start;
    padding: 0;
  }
  #form-box > .container {
    padding: 0;
    width: 100%;
  }
  #form-box > .container > .row {
    margin: 0;
  }
}

/* Mobile screen size */
@media only screen and (max-width: 576px) {
  #form-box > .container {
    margin: 0;
    border-radius: 0;
    background-color: transparent;
  }
}